<header class="header fixed-top">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start align-items-center">
        <a class="logo" href="/"><img src="assets/images/logo-icon.svg" alt="logo"><span>APP</span>KIT</a>
      </div>
      <div class="d-flex justify-content-end">
        <div id="menuFive" class="menuFive">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="container d-flex justify-content-end navbar navbar-expand-sm fixed-top">
          <ul id="navbar-nav" class="navbar-nav">
            {% for item in site.menu %}
              <li class="nav-item"><a class="nav-link" href="{{item.url}}">{{item.name}}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
