<header class="header fixed-top">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-3 d-flex align-items-center">
        <a class="logo" href="/"><img src="/assets/images/logo-icon.svg" alt="logo"><span>APP</span>KIT</a>
      </div>
      <div class="col-md-9 d-flex justify-content-end">
        <nav class="nav nav-menu">
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Testimonials</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Team</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </div>
  </div>
</header>
