<header class="header fixed-top">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-3 d-flex align-items-center">
        <a class="logo" href="/"><img src="/assets/images/logo-icon.svg" alt="logo"><span>APP</span>KIT</a>
      </div>
      <div class="col-md-9 d-flex justify-content-end">
        <nav id="nav-menu" class="nav nav-menu">
          <a class="nav-link active" href="#about">About</a>
          <a class="nav-link" href="#testimonials">Testimonials</a>
          <a class="nav-link" href="#features">Features</a>
          <a class="nav-link" href="#team">Team</a>
          <a class="nav-link" href="#pricing">Pricing</a>
          <a class="nav-link" href="#contact">Contact</a>
        </nav>
      </div>
    </div>
  </div>
</header>
