@import "_reset", "_vars", "_header", "_footer", "_media";

.padding-xs {
  padding: 10px 0;
}
.padding-md {
  padding: 20px;
}
.padding-lg {
  padding: 70px 0;
}
.h1 {
  font-weight: 300;
  color: #494d55;
  text-align: center;
  &-c {
    color: $primary-color;
  }
}
//second screen
.title-using-appkit {
  text-align: center;
  max-width: 800px;
  width: 100%;
  color: rgb(145, 145, 145);
  margin: 0 auto;
}
.using-appkit-ico {
  padding: 50px 0;
  & img {
    margin: 15px;
  }
}
.h5 {
  font-weight: 600;
  color: $bg-c;
  margin-bottom: 0;
}
.auto-bottom {
  min-height: 200px;
  object-fit: scale-down;
  text-align: center;
}
//end second screen
//testimonials start
.testimonials {
  position: relative;
  background-color: $bg-c;
  & .bg-img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
  }
  & .container {
    position: relative;
  }
  &-comment {
    background-color: rgba(37, 149, 151, 0.6);
    color: $primary-color;
    border-radius: 4px;
    position: relative;
    & img {
      position: absolute;
      height: 35px;
    }
  }
}
.main-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.author-c {
  color: $author-c;
  margin-bottom: 0;
}
.carey-left {
  left: -13px;
}
.carey-right {
  right: -13px;
}
.margin-left {
  margin-left: 30px;
}
.margin-right {
  margin-right: 30px;
}
.btn-pills {
  padding-top: 20px;
  & a {
    color: $btn-c;
    padding: 15px;
  }
  & .nav-link.active, .nav-pills .show>.nav-link {
    color: $bg-c !important;
    background: transparent;
    & path {
      fill: $bg-c;
    }
  }
  & svg {
    height: 15px;
    margin-right: 10px;
  }
}
//end testimonials
//team start
.team-section {
  background-color: $bg-team;
  & p {
    text-align: center;
  }
  & .team-container {
    padding-top: 50px;
    margin-left: 0;
    margin-right: 0;
    &-bg {
      background-color: white;
      border-radius: 8px;
      padding: 30px;
      margin-bottom: 20px;
    }
    & .team-img {
      max-height: 120px;
      height: auto;
    }
    & .team-social-ico {
      & svg {
        max-width: 25px;
        width: 100%;
        margin: 0 10px;
      }
    }
  }
}
//end team
//start pricing
.pricing-container-bg {
  border-radius: 8px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  max-width: 300px;
  width: 100%;
}
.pricing-container-bg-green {
  background-color: rgb(109, 191, 131);
}
.pricing-container-bg-blue {
  background-color: rgb(75, 185, 233);
}
.pricing-container-bg-orange {
  background-color: rgb(250, 161, 78);
}
.primary-c {
  color: $primary-color;
}
.pricing {
  color: $primary-color;
  font-size: 30px;
  font-weight: 600;
  & sup {
    opacity: .6;
  }
}
.buy-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(103, 103, 103, 0.3);
  color: $primary-color;
  font-weight: 700;
  max-width: 150px;
  width: 100%;
  margin: 60px auto 0;
  &:focus {
    outline: none;
  }
}
.author-c {
  color: $author-c;
  &:hover {
    color: $author-c;
  }
}
.title-pricing-p {
  text-align: center;
}
//end pricing
//start contact
.section-contact {
  background-color: rgb(74, 78, 86);
  position: relative;
  & .bg-img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: none;
  }
  & .btn-main {
    margin-top: 50px;
  }
}
//end contact
